

.container{
  display: flex;
  size: 3em;
  justify-content: center;
}

.button{
  font-size: 10em;
  transition: 0.17s;
  background-color: yellow;
}

.pressed{
  background-color: red;
  transform: scale(1.2);
}