/*

#071013 - 
#06AED5 - Bright Ceruluan
#F0C808 - Yellow
#FFF1D0 - Cream
#DD1C1A - Red

*/

body{
  background-color: #071013;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#start{

}

#down{
  border-color: #06AED5;
}

#down:hover{
  background-color: #06AED5;
  cursor: pointer;
}

#right{
  border-color: #F0C808;
}

#right:hover{
  background-color: #F0C808;
  cursor: pointer;
}

#up{
  border-color: #FF9914;
}

#up:hover{
  background-color: #FF9914;
  cursor: pointer;
}

#left{
  border-color: #DD1C1A;
}

#left:hover{
  background-color: #DD1C1A;
  cursor: pointer;
}

.button{
  width: 1em;
  height: 1em;
  position: relative;

  text-align: center;
  font-size: 14em;

  margin: 10px;
  border-radius: 100%;

  border: 15px solid;

  transition: 0.17s;
  background-color: #071013;
}



.pressed{
  transform: scale(1.1);
}

@media all and (max-width: 700px) {
  .button {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
      font-size: 12em;
  }
}

@media all and (max-width: 515px) {
  .button {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
      font-size: 8em;
  }
}

@media all and (max-width: 370px) {
  .button {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
      font-size: 6em;
  }
}
